*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: column;

    @mixin image {
        background-position: center;
        background-repeat: no-repeat;   
        background-size: contain;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        aside{
            display: flex;
            height: 150px;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 50%;

            span{
                @include image();
                height: 100px;
                width: 100px;
                background-image: url('/images/a-key.png');

                &:nth-child(2){
                    background-image: url('/images/d-key.png');
                }

                &.left-key{
                    margin-left: 100px;
                    background-image: url('/images/left-key.png');
                }

                &.right-key{
                    background-image: url('/images/left-key.png');
                    transform: rotate(180deg);
                }
            }
        }

        p{
            font-size: 120px;
            text-align: center;
        }
    }

    .board{
        @include image();
        background-image: url('/images/board.png');
        height: 800px;
        width: 100%;
        position: relative;

        .turtle{
            width: 25vw;
            height: 12vw;
            @include image();
            background-image: url('/images/turtle_blue.png');
            transform: rotate(90deg);
            position: absolute;
            top: 40%;
            left: 0;
            transition: left .2s linear;

            &.two{
                top: 60%;
            }

            &.red{
                background-image: url('/images/turtle_red.png');
            }

            &.blue{
                background-image: url('/images/turtle_blue.png');
            }

            &.yellow{
                background-image: url('/images/turtle_yellow.png');
            }
        }
    }
}

button{
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 25px;
    border: 1px solid navy;
    background-color: navy;
    color: white;
    outline: unset;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:active {
        transform: scale(0.95);
    }

    &:disabled{
        background-color: lightgray;
        border-color: lightgray;
        color: gray;
    }

    &.start-game{
        width: 85%;
        display: none;
    }
}

@keyframes dancingTurtle{
    0%{
        transform: rotate(-30deg);
    }

    100%{
        transform: rotate(30deg);
    }
}

.end-game{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);

    &.active{
        display: flex;
    }

    .end-game-container{
        background-color: white;
        padding: 20px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 90px;
        }

        .winner{
            font-size: 50px;
            text-align: center;
            margin-bottom: 20px;
        }

        img{
            transform: rotate(-45deg);
            animation: dancingTurtle 1s alternate infinite ease-in-out;
        }

        .options-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin: 20px 0;
        }
    }
}

.welcome{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);

    .welcome-container{
        width: fit-content;
        height: fit-content;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        border-radius: 25px;

        h1{
            font-size: 40px;
        }
    
        .type-of-game{
            padding: 20px;
            p{
                font-size: 25px;
            }
    
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
            }
        }

        .turtle-selection,.turtle-selection-for-two-players{
            display: flex;
            flex-direction: column;
            display: none;
            width: 100%;

            p{
                width: 100%;
                font-size: 25px;
                padding: 20px;
                text-align: center;
                position: relative;

                span{
                    position: absolute;
                    left: 0;
                    margin-right: px;
                }
            }

            .turtle-container{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                img{
                    padding: 10px;
                    border-radius: 25px;
                    border: 1px solid white;
                    cursor: pointer;

                    &.active{
                        background-color: beige;
                    }

                    &:hover{
                        background-color: beige;
                    }
                }
            }
        }
    }
}

.counter{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    p{
        font-size: 120px;
        width: 40vh;
        height: 40vh;
        background-color: rgba(0,0,0,.6);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}